*.iml
*.gv
*.ipr
*.iws
*.orig
*.rej
*.sdf
*.suo
*.vcxproj.user
*.log
.idea
vendor/
.svn
.classpath
.project
.settings
.vscode
__pycache__
*.pyc
*.swp
*.swo
.DS_Store
*.sln
*.pyproj.user
*.pyproj
*.vs
